.card {
    overflow: hidden;
}

.card-img-top {
    transition: all 0.4s ease;
}
.card-img-top:hover {
    transform: scale(1.01);
    filter: brightness(70%);
}


.card-hover {
    transition: all 0.4s ease;
}
.card-hover:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.fab {
    transition: all 0.3s ease;
}
.fab:hover {
    transform: scale(1.2);
}